<!DOCTYPE html>
<html ng-app="AppBoilerPlate">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />

    <script src='/bower_components/jquery/dist/jquery.js'></script>
    <script src='/bower_components/angular/angular.js'></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src='/scripts/app/app.module.js'></script>
    <script src='/scripts/app/app.routes.js'></script>
    <script src='/scripts/app/components/home/controllers.js'></script>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>
